.page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.content{
  position: relative;
  z-index: 1;
  padding: 20px;
  max-width: 100vw;
  text-align: left;
}

h1, h2, h3, .search-heading, .slider-heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: var(--text-dark);
}

.hero-section{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
}
.hero-title {
  
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.background-video__element {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-video::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 65, 106, 0.445);
  z-index: 1;
  pointer-events: none; 
}
.background-image::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 65, 106, 0.445);
  z-index: 1; 
  pointer-events: none; 
}

.hero-subtitle {
  
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-bottom: 30px;
}


.Y{
  font-family: 'Montserrat', sans-serif;
}
.P{
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: #8f63da;
  color: #8f63da;
} 

.content-section {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  position: relative;
  z-index: 1;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.section-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}

.features-list {
  list-style-type: none;
  padding: 0;
}

.feature-item {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}
/* Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Playfair+Display&display=swap');

.navbar {
  background-color: rgb(255, 252, 232);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: static;
  top: 0;
  z-index: 999;
}

.navbar-a{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
  margin: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar-a:hover {
  color: #8f63da; /* Replace with your primary color */
  cursor: pointer;
}

.navbar-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  cursor: pointer;
}

.navbar-title {
  margin-left: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #6c2bd9; /* Replace with your primary color */
  font-family: 'Playfair Display', serif;
}



.navbar-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #6c2bd9; /* Replace with your primary color */
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 30px;
}

.navbar-button:hover {
  background-color: #5623ad; /* Darker shade on hover */
}

*{
  scroll-behavior: smooth;
}